outputs
wandb
*.out
*.jpg
*.png
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info
*.egg
dist
build
.ipynb_checkpoints
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.env.*
.venv
.venv/*

*.csv
mmdetection/*